<!DOCTYPE html>

<html>
<head>
  <title>API Mapper</title>
  <style>
    h1{
      font-size=80
    }

    #banner{
      width:100%;
      height:160px;
      object-fit: cover;
    }
  </style>
</head>

<body>
  <h1>Welcome to API Mapper</h1>
  <img id="banner" src="static/delfi-de-la-rua-vfzfavUZmfc-unsplash.jpg">
</body>

  <h2>About API Mapper</h2>
  <p>
    Here will the text required to explain how to use this tool and how it works.
  </p>

  <h2>Start Mapping</h2>
  <button>Upload swagger file</button>

</html>